.ind-product {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    height: fit-content;
    border-radius: 12px;
    background-color: rgb(246, 244, 231);
}

p {
    padding: 3px;
}